@model EventBot.Web.Models.EventViewModel
@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <a href=@Url.Action("Upload","Images",new {title="titleText",description="descriptionText",meetingPlace="meetingPlaceText",startDate="startDateText",endDate="endDateText"}) id="EventImageLink">
                <img src="/Images/View/@Html.Raw(Model.ImageId)" class="control-label col-md-12" id="EventImage"/>
            </a>
        </div>
        @Html.HiddenFor(model => model.ImageId)
        <hr/>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Rubrik" ,id="titleInput"} })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Beskrivning" ,id="descriptionInput"} })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />



        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Location.Name, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Plats",id="meetingPlaceInput" } })
                @Html.ValidationMessageFor(model => model.Location.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datetimefield",id="startDateInput" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datetimefield", id = "endDateInput" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="Lägg till" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/CreateEvent.js"></script>
}
