@using EventBot.Web.Utils
@using Microsoft.AspNet.Identity
@model EventBot.Entities.Service.Models.EventModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@section scripts
{
    <script>
        $(document).ready(function () {
            OnReady();
        });
    </script>
}
<div>
    <input type="hidden" id="hdnVal" value="@Model.Id" />
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            Rubrik
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
           Beskrivning
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
           Börjar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
           Slutar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>


        <dt>
            @*@Html.DisplayNameFor(model => model.VisitCount)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitCount) besökare
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.UserCount)*@ 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserCount) Anmälda
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.MaxAttendees)*@
            @*Max deltagare*@
        </dt>
        <dd>
            @if (Model.MaxAttendees != 0)
            {
               @(Model.MaxAttendees-Model.UserCount) @Html.Raw(" lediga platser")
            }
            @*else
            {
                @Html.Raw("Ingen gräns")
            }*@
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.MeetingPlace)*@
            Plats
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>
        <dt>
           Taggar
        </dt>

        <dd>
            @foreach (var tag in Model.EventTypes)
            {
                <span class="tag label label-info">@tag.Name</span>
            }
            @*@Html.EditorFor(model =>tags, new {htmlAttributes = new {@class = "form-control", id = "eventTags" ,@readonly=""}})*@
        </dd>

        @*<dd>
            <ul>
                @foreach (var eventType in Model.EventTypes)
                {
                    <li>@eventType.Name</li>
                }
            </ul>
        </dd>*@
        <dt></dt>
        <dd>
            <img src="/Images/view/@Html.Raw(Model.ImageId)" height="100"/>
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.Action("Index", "Map", Model.Location)
        </dd>*@

        <dd>
            @Html.Action("Static", "Map", Model.Location)
        </dd>
        @if (Model.IsCanceled)
        {
            <dd>Den här aktiviteten är inställd</dd>
        }

        @*<dt>
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>*@
        <dt>
            Attend
        </dt>

        <dd id="attend">

        </dd>
        <dd>
            <div id="alertbox">
            </div>
        </dd>
    </dl>
</div>
<p>
    @if (Model.UserId == User.Identity.GetUserId())
    {
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id});
        @Html.Raw(" | ");
    }
    @Html.ActionLink("Back to List", "Index")
</p>
