@model EventBot.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Hantera ditt konto";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Ändra dina kontoinställningar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Namn:</dt>
        <dd>
            [
            @Html.ActionLink("Byt namn", "ChangeName")
            ]
        </dd>
        <dt>Lösenord:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Byt Lösenord", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        
        </dd>
    </dl>
</div>
