@model EventBot.Web.Models.IndexViewModel
<div class="container" style="padding: 60px;">
    @{
    ViewBag.Title = "Hantera ditt konto";
}

<h2 style="text-align: center;">@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal" style="text-align: center;">
        <div>
            [
            @Html.ActionLink("Byt namn", "ChangeName")
            ]
        </div>
        <div>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Byt Lösenord", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </div>
    </dl>
</div>
</div>
