<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header class="large">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    @Html.ActionLink("Button Name", "Index", "Home", null, new {@class = "eventius-logo navbar-brand"})
                    @if (Request.IsAuthenticated) {
                    <div class="notifications-container">
                        <ul class="nav navbar-nav">
                            <li class="notifications">
                                <a href="#">
                                    <i class="glyphicon glyphicon-globe"></i>
                                    <span id="notificationsbadge" class="badge js-notification-count hide"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    }
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle events-menu" data-toggle="dropdown" href="#">Aktiviteter<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li><a href="/event">Alla</a></li>

                                <li><a href="/event/userevents">Egna</a></li>

                                <li><a href="/event/create">Skapa</a></li>

                            </ul>

                        </li>

                        @*<li> <a href="/about">Om Eventius</a></li>*@


                    </ul>


                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </header>


    <div class="container body-content">
        @RenderBody()


    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <!-- Single button -->
    <script type="text/x-template" id="notifications-template">
        <ul class="notifications">
            @*<%
                _.each(notifications, function(notification){
                console.log(notification);
                if (notification.eventType == 1) { %>
                <li onClick="OnNotificationClicked(<%= notification.eventName %>, notification.eventId);">Planerade aktiviteten <span class="highlight"><%= notification.eventName %></span> som var planerad <%= moment(notification.dateTime).format("D MMM HH:mm") %> är tyvärr inställd.</li>
                <% }
                else if (notification.eventType == 2) {
                var changes = [],
                originalValues = [],
                newValues = [];

                if (notification.originalStartDate != notification.startDate) {
                changes.push('datum/tid');
                originalValues.push(moment(notification.originalStartDate).format("D MMM HH:mm"));
                newValues.push(moment(notification.startDate).format("D MMM HH:mm"));
                %>
                <li onClick="OnNotificationClicked(notification.id, notification.eventId);"><span class="highlight"><%= notification.eventName %></span> har ändrat <%= changes.join(' and ') %> från <%= originalValues.join('/') %> till <%= newValues.join('/') %></li>
                <%}
                else {%>
                <li onClick="OnNotificationClicked(notification.id, notification.eventId);"><span class="highlight"><%= notification.eventName %></span> har uppdaterat aktiviteten som är planerad <%= moment(notification.startDate).format("D MMM HH:mm") %>.</li>
                <%}
                }
                })%>
                <li ><a href="#">Visa alla</a></li>*@
        </ul>
    </script>
    <script src="~/Scripts/all.js"></script>
    <script src="~/Scripts/details.js"></script>



</body>
</html>
