<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header class=“large”>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    @Html.ActionLink("eventius", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @id = "grad" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">




                        <li class="dropdown">
                            <a class="dropdown-toggle events-menu" data-toggle="dropdown" href="#">Events<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/event">List All</a></li>
                                <li><a href="/event/userId">List Own</a></li>
                                <li><a href="/event/edit">Edit</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle events-menu" data-toggle="dropdown" href="#">Om Eventius<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/event">List All</a></li>
                                <li><a href="/event/userId">List Own</a></li>
                                <li><a href="/event/edit">Edit</a></li>
                            </ul>
                        </li>
                    </ul>


                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        </header>


        <div class="container body-content">
            @RenderBody()
            <hr />

        </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
        <!-- Single button -->


        <script src="~/Scripts/all-underscore.js" type="text/x-template" id="notifications-template">
        </script>

        <script src="~/Scripts/all.js"></script>



</body>
</html>
